In [ ]:
! pip install PyGithub

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: PyGithub in /usr/local/lib/python3.10/dist-packages (1.58.2)
Requirement already satisfied: deprecated in /usr/local/lib/python3.10/dist-packages (from PyGithub) (1.2.14)
Requirement already satisfied: pyjwt[crypto]>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from PyGithub) (2.7.0)
Requirement already satisfied: pynacl>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from PyGithub) (1.5.0)
Requirement already satisfied: requests>=2.14.0 in /usr/local/lib/python3.10/dist-packages (from PyGithub) (2.27.1)
Requirement already satisfied: cryptography>=3.4.0 in /usr/local/lib/python3.10/dist-packages (from pyjwt[crypto]>=2.4.0->PyGithub) (40.0.2)
Requirement already satisfied: cffi>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from pynacl>=1.4.0->PyGithub) (1.15.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->PyGithub) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->PyGithub) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->PyGithub) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->PyGithub) (3.4)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.10/dist-packages (from deprecated->PyGithub) (1.14.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.4.1->pynacl>=1.4.0->PyGithub) (2.21)

In [ ]:
from github import Github
import pandas as pd

g = Github("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")

In [ ]:
repo_owner = 'PokemonGoF'
repo_name = 'PokemonGo-Bot'

# Get the repository object
repo = g.get_repo("PokemonGoF/PokemonGo-Bot")

In [ ]:
pulls = repo.get_pulls(state='all')

In [ ]:
data= []

for pr in pulls:
  data.append({"ID": pr.number})

df= pd.DataFrame(data)
df

        ID
0     6314
1     6310
2     6309
3     6301
4     6300
...    ...
2252    29
2253    26
2254    20
2255    13
2256     9

[2257 rows x 1 columns]

In [ ]:
data1= []

for pr in pulls:
  data1.append({"Created": pr.created_at})

df1= pd.DataFrame(data1)
df1

                 Created
0    2022-09-24 14:40:20
1    2022-06-21 21:15:38
2    2022-06-17 21:14:28
3    2021-06-01 22:00:57
4    2021-05-08 16:51:14
...                  ...
2252 2016-07-21 12:25:44
2253 2016-07-21 12:07:17
2254 2016-07-21 11:30:06
2255 2016-07-21 09:40:31
2256 2016-07-21 08:00:42

[2257 rows x 1 columns]

In [ ]:
data2= []

for pr in pulls:
  closed_at = pr.closed_at
  data2.append({"Closed": closed_at})

df2= pd.DataFrame(data2)
df2

                  Closed
0    2023-01-30 11:02:27
1                    NaT
2    2022-06-21 21:15:41
3                    NaT
4                    NaT
...                  ...
2252 2016-07-21 20:13:13
2253 2016-07-21 12:19:17
2254 2016-07-21 11:31:22
2255 2016-07-21 10:20:37
2256 2016-07-21 08:07:57

[2257 rows x 1 columns]

In [ ]:
data3= []

for pr in pulls:
  created_at = pr.created_at
  closed_at = pr.closed_at
  time_to_close_hours = None
  if closed_at:
      time_to_close_hours = (closed_at - created_at).total_seconds() / 3600.0
  data3.append({"Time To Close (hours)": time_to_close_hours})

df3= pd.DataFrame(data3)
df3

      Time To Close (hours)
0               3068.368611
1                       NaN
2                 96.020278
3                       NaN
4                       NaN
...                     ...
2252               7.791389
2253               0.200000
2254               0.021111
2255               0.668333
2256               0.120833

[2257 rows x 1 columns]

In [ ]:
data4= []

for pr in pulls:
  changed_files_count = pr.changed_files
  data4.append({"Number of Changed Files": changed_files_count})

df4= pd.DataFrame(data4)
df4

      Number of Changed Files
0                           1
1                           1
2                           1
3                           1
4                           1
...                       ...
2252                        2
2253                        2
2254                        2
2255                        1
2256                        1

[2257 rows x 1 columns]

In [ ]:
data5= []

for pr in pulls:
  data5.append({"Title": pr.title})

df5= pd.DataFrame(data5)
df5

                                    Title
0                              Snyk fixes
1        Bump numpy from 1.11.0 to 1.22.0
2        Bump numpy from 1.11.0 to 1.21.0
3        Bump urllib3 from 1.18 to 1.26.5
4     Bump eventlet from 0.19.0 to 0.31.0
...                                   ...
2252                   Another Print Edit
2253                        Pokemon names
2254                  Print pokemon names
2255   fix ssl errors for freeBSD systems
2256           [UF] Pokemon Captured text

[2257 rows x 1 columns]

In [ ]:
data6= []

for pr in pulls:
  labels = [label.name for label in pr.labels]
  data6.append({"Labels": labels})

df6= pd.DataFrame(data6)
df6

              Labels
0                 []
1     [dependencies]
2     [dependencies]
3     [dependencies]
4     [dependencies]
...              ...
2252              []
2253              []
2254              []
2255              []
2256              []

[2257 rows x 1 columns]

In [ ]:
data7= []

for pr in pulls:
  labels = [label.name for label in pr.labels]
  labels_count = len(labels)
  data7.append({"Labels#": labels_count})

df7= pd.DataFrame(data7)
df7

      Labels#
0           0
1           1
2           1
3           1
4           1
...       ...
2252        0
2253        0
2254        0
2255        0
2256        0

[2257 rows x 1 columns]

In [ ]:
data8= []

for pr in pulls:
  is_merged = pr.merged
  data8.append({"Is Merged": is_merged})

df8= pd.DataFrame(data8)
df8

      Is Merged
0         False
1         False
2         False
3         False
4         False
...         ...
2252      False
2253       True
2254       True
2255       True
2256       True

[2257 rows x 1 columns]

In [ ]:
data9= []

for pr in pulls:
   data9.append({'Time to Merge (hours)': (pr.merged_at - pr.created_at).total_seconds() / 3600 if pr.merged_at else None
    })

df9= pd.DataFrame(data9)
df9

      Time to Merge (hours)
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
...                     ...
2252                    NaN
2253               0.200000
2254               0.021111
2255               0.668333
2256               0.120833

[2257 rows x 1 columns]

In [ ]:
data10= []

for pr in pulls:
  base_ref = pr.base.ref
  description_exists = bool(pr.body)
  open_or_closed = pr.state
  data10.append({"Base": base_ref,
        "Descriptions": description_exists,
        "Open/Closed": open_or_closed})

df10= pd.DataFrame(data10)
df10

        Base  Descriptions Open/Closed
0     master          True      closed
1     master          True        open
2     master          True      closed
3     master          True        open
4     master          True        open
...      ...           ...         ...
2252  master          True      closed
2253  master          True      closed
2254  master          True      closed
2255  master          True      closed
2256  master          True      closed

[2257 rows x 3 columns]

In [ ]:
data11= []

for pr in pulls:
  data11.append({'Author Name': pr.user.name if pr.user else None})

df11= pd.DataFrame(data11)
df11

        Author Name
0             Pedro
1              None
2              None
3              None
4              None
...             ...
2252       Necrozis
2253           None
2254       Necrozis
2255           None
2256  Darron Eggins

[2257 rows x 1 columns]

In [ ]:
data12= []

for pr in pulls:
  data12.append({"Updated at": pr.updated_at})

df12= pd.DataFrame(data12)
df12

              Updated at
0    2023-01-30 11:02:45
1    2023-02-02 14:23:35
2    2022-06-21 21:15:42
3    2023-02-02 14:23:36
4    2023-02-02 14:23:38
...                  ...
2252 2016-07-21 20:13:13
2253 2016-07-21 12:23:50
2254 2016-07-21 17:33:12
2255 2016-07-21 17:33:50
2256 2016-07-21 08:07:57

[2257 rows x 1 columns]

In [ ]:
data13= []

for pr in pulls:
  data13.append({"Commits": pr.commits})

df13= pd.DataFrame(data13)
df13

      Commits
0           2
1           1
2           1
3           1
4           1
...       ...
2252        3
2253        9
2254        2
2255        1
2256        1

[2257 rows x 1 columns]

In [ ]:
commits = repo.get_commits()

# Get the commit messages:
commit_messages = [commit.commit.message for commit in commits]

# Create a pandas dataframe from the commit messages:
df_commit = pd.DataFrame(commit_messages, columns=["Commit Message"])
df_commit

                                         Commit Message
0     Merge pull request #6269 from PokemonGoF/dev\n...
1     Merge pull request #6268 from Kijax/dev\n\nCas...
2     Castform attacks update\n\nUpdated Castform fa...
3     Merge pull request #6265 from Kijax/dev\n\nLou...
4     Loudred attack update\n\n- Loudred charge atta...
...                                                 ...
3462            Code clearance and added ArgumentParser
3463                                   Update README.md
3464                                        Added files
3465                                   Update README.md
3466                                     Initial commit

[3467 rows x 1 columns]

In [ ]:
D = [df,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13]
dataframe= pd.DataFrame()
dataframe= pd.concat(D, axis= 1)
dataframe

,ID,Created,Closed,Time To Close (hours),Number of Changed Files,Title,Labels,Labels#,Is Merged,Time to Merge (hours),Base,Descriptions,Open/Closed,Author Name,Updated at,Commits
0,6314,2022-09-24 14:40:20,2023-01-30 11:02:27,3068.368611,1,Snyk fixes,[],0,False,NaN,master,True,closed,Pedro,2023-01-30 11:02:45,2
1,6310,2022-06-21 21:15:38,NaT,NaN,1,Bump numpy from 1.11.0 to 1.22.0,[dependencies],1,False,NaN,master,True,open,None,2023-02-02 14:23:35,1
2,6309,2022-06-17 21:14:28,2022-06-21 21:15:41,96.020278,1,Bump numpy from 1.11.0 to 1.21.0,[dependencies],1,False,NaN,master,True,closed,None,2022-06-21 21:15:42,1
3,6301,2021-06-01 22:00:57,NaT,NaN,1,Bump urllib3 from 1.18 to 1.26.5,[dependencies],1,False,NaN,master,True,open,None,2023-02-02 14:23:36,1
4,6300,2021-05-08 16:51:14,NaT,NaN,1,Bump eventlet from 0.19.0 to 0.31.0,[dependencies],1,False,NaN,master,True,open,None,2023-02-02 14:23:38,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2252,29,2016-07-21 12:25:44,2016-07-21 20:13:13,7.791389,2,Another Print Edit,[],0,False,NaN,master,True,closed,Necrozis,2016-07-21 20:13:13,3
2253,26,2016-07-21 12:07:17,2016-07-21 12:19:17,0.200000,2,Pokemon names,[],0,True,0.200000,master,True,closed,None,2016-07-21 12:23:50,9
2254,20,2016-07-21 11:30:06,2016-07-21 11:31:22,0.021111,2,Print pokemon names,[],0,True,0.021111,master,True,closed,Necrozis,2016-07-21 17:33:12,2
2255,13,2016-07-21 09:40:31,2016-07-21 10:20:37,0.668333,1,fix ssl errors for freeBSD systems,[],0,True,0.668333,master,True,closed,None,2016-07-21 17:33:50,1
2256,9,2016-07-21 08:00:42,2016-07-21 08:07:57,0.120833,1,[UF] Pokemon Captured text,[],0,True,0.120833,master,True,closed,Darron Eggins,2016-07-21 08:07:57,1

In [ ]:
dataframe.to_csv("PRs PokemonGo-Bot.csv")